.article-list {
  height: auto;
  width: 100%;
}

.lower-case {
  text-transform: capitalize !important;
}

.article-header-image {
  width: 100%;
  height: 200px;
}

.text {
  color: green !important;
}

.text::selection {
  background: yellow!important;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white !important;
    font-size: 15px;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=text], input[type=password],input[type=email], select {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    color: green;
}

label {
  padding-top: 18px;
  text-align: center;
  font-size: 18px;
}
.cap::first-letter {
  font-size: 200%;
  color: green;
  text-transform: lowercase;
}

hr {
  border: 0!important;
  height: 1px!important;
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0)!important;
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0)!important;
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0)!important;
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0)!important;
}
