{% extends "blog/base.html" %}
{% load staticfiles %}
{% load comments %}

{% block title_block %}{{ article.title }}{% endblock %}


{% block body_block %}
  <section class="container content-section">
    <h1 class="cap" >{{ article.title }}</h1>
    <h4>Total views <strong>{{ article.views }}</strong></h4>
    <p>Total likes <strong id="likes_count">{{ article.likes }}</strong></p><button type="button" id="likes" data-artid="{{ article.id }}" class="btn btn-primary btn-sm">Like</button>
    <hr>
    <p>{{ article.content }}</p>
    <hr>
    {% get_comment_count for article as comment_count %}
    Total comments: {{ comment_count }}
    <h3 class="cap">comments</h3>
    {% get_comment_list for article as comment_list %}
    {% for comment in comment_list %}
      <p>{{ comment }}</p>
      <p id="comm"></p>
    {% endfor %}
    {% if user.is_authenticated %}
      {% get_comment_form for article as form %}
      <form class="" action="{% comment_form_target %}" method="post">
        {% csrf_token %}
        {% for hidden in form.hidden_fields%}
          {{ hidden }}
        {% endfor %}
        <div class="row">
          <div class="col-sm-2">
            <label for="">Comment</label>
          </div>
          <div class="col-sm-10 text">
            {{ form.comment }}
          </div>
        </div>
        <input type="submit" name="submit" value="Post" id="post">
      </form>
    {% else %}
      <p>To post comments <a href="{% url 'auth_login' %}">login</a> or <a href="{% url 'registration_register' %}">register</a></p>
    {% endif %}
  </section>
{% endblock %}
